html,
body {
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-variation-settings: normal;
    line-height: 1.5;
    tab-size: 4;

    background-color: var(--bg-color);
    color: var(--font-color1);

    font-size: 14px;

    margin: 0;
    padding: 0;
}

input[type=file],
input[type=text] {
    padding: 0;
    height: 26px !important;
    text-transform: none !important;
}

textarea {
    width: 446px !important;
    min-height: 150px !important;
    max-height: 350px !important;
    text-transform: none !important;
}

select,
input[type=text],
input[type=file],
textarea,
.codeView {
    border: 2px var(--border-input) solid;
    background-color: var(--bg-input);
    color: var(--font-color1);
}

.botao,
select,
input[type=text],
input[type=file],
textarea,
.codeView {
    width: 220px;
    height: 30px;

    font-weight: 700;
    text-transform: capitalize;

    outline: none;
    border-radius: 6px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    column-gap: 15px;

    height: 50px;
    width: 150px;

    padding-left: 10px;
    padding-right: 10px;

    margin: 15px 0px 20px 0px;

    border-radius: 6px;
    background-color: var(--bg-color-logo);
}

.botao {
    border: 2px transparent solid;
    background-color: var(--bg-button-color1);
}

.botao:hover {
    background-color: var(--bg-button-color1);
}

.botao:hover,
select:hover,
input[type=text]:hover,
textarea:hover,
.codeView:hover {
    border: 2px var(--boder-hover) solid;
    cursor: pointer;
}

.status_log,
.status_ok,
.status_warning,
.status_error {
    font-weight: 600;
    min-height: 20px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 6px;
    margin: 0;
    color: var(--font-status);
}

.status_log {
    background-color: var(--bg-status-log);
    border: 2px var(--border-status-log) solid;
}

.status_ok {
    background-color: var(--bg-status-ok);
    border: 2px var(--border-status-ok) solid;
}

.status_warning {
    background-color: var(--bg-status-warning);
    border: 2px var(--border-status-warning) solid;
}

.status_error {
    background-color: var(--bg-status-error);
    border: 2px var(--border-status-error) solid;
}

.botao:active {
    background-color: var(--bg-button-color1-click);
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    justify-items: center;
    justify-self: center;

    align-content: center;

    text-align: center;
}

.animation {
    -moz-transition: all 0.4ms ease;
    -o-transition: all 0.4ms ease;
    -webkit-transition: all 0.4ms ease;
    transition: all 0.4ms ease;

    transition: background 0.2s ease;
}

.sombra {
    box-shadow: 0 0.75rem 2rem rgb(10 20 70 / 10%);
}

.sombra:hover {
    box-shadow: 0 0.75rem 2rem rgb(10 20 70 / 25%);
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.footer {
    color: var(--font-color1);
    position: fixed;
    /* transform: translate(50%, 50%); */
    bottom: 0px;
    left: 15px;
    /* cursor: pointer; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.codeView {
    display: none;
    margin: 0;
    height: auto !important;
    min-width: 418px !important;
    max-width: 418px !important;
    text-transform: initial !important;
    text-align: initial !important;
    padding: 16px;
}

.codeView code {
    cursor: auto !important;
    width: 418px !important;
    min-height: 150px;
    overflow: auto;
    height: min-content;
    resize: vertical;
    outline: none;
}

::placeholder {
    color: var(--placeholder);
    opacity: 1;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: var(--bg-scroll-track);
}

::-webkit-scrollbar-thumb {
    background: var(--bg-scroll-thumb);
    border-radius: 3px;
}

@media (orientation: portrait) {
    .row {
        flex-direction: column !important;
    }

    .botao,
    select,
    input[type=text],
    textarea,
    .codeView {
        width: 100% !important;
    }
}